<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>juceSynthFramework - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>juceSynthFramework - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>juceSynthFramework - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>juceSynthFramework - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>juceSynthFramework - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D44630A6EDBAF615A5D1FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A8DA6D81CC536ECC639ACF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D1F2AA649AA9767D069D670</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1D2B8F3C0EBB92E6F4F2827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8ABB13BEAF9A77D16C214AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
